<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=320, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Course Work
  body
    section.slider-block
        .container
            h1 Car Carousel
            .ics#ics--car
                button.ics__nav-btn.ics__nav-btn--prev
                .ics__container
                    .ics__feed
                        .ics__item
                            img(src='/img/car1.jpg')
                        .ics__item
                            img(src='/img/car2.jpg')
                        .ics__item
                            img(src='/img/car3.jpg')
                        .ics__item
                            img(src='/img/car4.jpg')
                        .ics__item
                            img(src='/img/car5.jpg')
                        .ics__item
                            img(src='/img/car6.jpg')
                        .ics__item
                            img(src='/img/car7.jpg')
                button.ics__nav-btn.ics__nav-btn--next
            h1 Pizza Carousel
            .ics#ics--pizza
                button.ics__nav-btn.ics__nav-btn--prev
                .ics__container
                    .ics__feed
                        .ics__item
                            img(src='/img/pizza1.jpg')
                        .ics__item
                            img(src='/img/pizza2.jpg')
                        .ics__item
                            img(src='/img/pizza3.jpg')
                        .ics__item
                            img(src='/img/pizza4.jpg')
                        .ics__item
                            img(src='/img/pizza5.jpg')
                        .ics__item
                            img(src='/img/pizza6.jpg')
                        .ics__item
                            img(src='/img/pizza7.jpg')
                button.ics__nav-btn.ics__nav-btn--next
            h1 Dog Carousel
            .ics#ics--dog
                button.ics__nav-btn.ics__nav-btn--prev
                .ics__container
                    .ics__feed
                        .ics__item
                            img(src='/img/dog1.jpg')
                        .ics__item
                            img(src='/img/dog2.jpg')
                        .ics__item
                            img(src='/img/dog3.jpg')
                        .ics__item
                            img(src='/img/dog4.jpg')
                        .ics__item
                            img(src='/img/dog5.jpg')
                        .ics__item
                            img(src='/img/dog6.jpg')
                        .ics__item
                            img(src='/img/dog7.jpg')
                button.ics__nav-btn.ics__nav-btn--next
    .popup
        .popup__overlay
        .popup__content
            button.popup__close
            .popup__img