@import 'base/custom-reset';
.slider-block {
  margin: 0 0 50px 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
h1 {
  margin: 40px 0 20px 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.ics {
  display: flex;
  position: relative;
  justify-content: center;
  &__container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  &__feed {
    display: flex;
    transform: translate3d(0, 0, 0);
  }
  &__item {
    padding: 0 15px;
    img {
      width: 100%;
      height: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__nav-btn {
    display: inline-block;
    position: absolute;
    height: 31px;
    top: 50%;
    padding: 0;
    font-size: 30px;
    line-height: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    &:before {
      font-family: "fontello";
    }
    &--prev {
      left: -50px;
      &:before {
        content: '\F0A8';
      }
    }
    &--next {
      right: -50px;
      &:before {
        content: '\F0A9';
      }
    }
    &--disabled {
      pointer-events: none;
      opacity: .5;
    }
  }
}
.popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: .3s opacity;
  &__overlay {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.7;
    cursor: pointer;
  }
  &__content {
    position: fixed;
    width: 350px;
    height: 350px;
    padding: 15px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  &__close {
    display: inline-block;
    position: absolute;
    height: 24px;
    top: 4px;
    right: 2px;
    padding: 0;
    font-size: 30px;
    line-height: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 50%;
    &:before {
      font-family: "fontello";
      content: '\e817';
    }
  }
}