@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot?421717');
    src: url('../fonts/fontello/fontello.eot?421717#iefix') format('embedded-opentype'),
    url('../fonts/fontello/fontello.woff2?421717') format('woff2'),
    url('../fonts/fontello/fontello.woff?421717') format('woff'),
    url('../fonts/fontello/fontello.ttf?421717') format('truetype'),
    url('../fonts/fontello/fontello.svg?421717#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?95740942#fontello') format('svg');
  }
}
*/
 
 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fa-glass:before { content: '\e800'; } /* '' */
.fa-search:before { content: '\e801'; } /* '' */
.fa-music:before { content: '\e802'; } /* '' */
.fa-envelope-o:before { content: '\e803'; } /* '' */
.fa-heart:before { content: '\e804'; } /* '' */
.fa-heart-o:before { content: '\e805'; } /* '' */
.fa-star:before { content: '\e806'; } /* '' */
.fa-star-o:before { content: '\e807'; } /* '' */
.fa-star-half:before { content: '\e808'; } /* '' */
.fa-user:before { content: '\e809'; } /* '' */
.fa-users:before { content: '\e80a'; } /* '' */
.fa-video:before { content: '\e80b'; } /* '' */
.fa-video-camera:before { content: '\e80c'; } /* '' */
.fa-picture:before { content: '\e80d'; } /* '' */
.fa-camera:before { content: '\e80e'; } /* '' */
.fa-camera-o:before { content: '\e80f'; } /* '' */
.fa-th-large:before { content: '\e810'; } /* '' */
.fa-th:before { content: '\e811'; } /* '' */
.fa-th-list:before { content: '\e812'; } /* '' */
.fa-check:before { content: '\e813'; } /* '' */
.fa-ok-circle:before { content: '\e814'; } /* '' */
.fa-ok-circle-o:before { content: '\e815'; } /* '' */
.fa-times:before { content: '\e816'; } /* '' */
.fa-times-circle-o:before { content: '\e817'; } /* '' */
.fa-plus:before { content: '\e818'; } /* '' */
.fa-plus-circle:before { content: '\e819'; } /* '' */
.fa-minus:before { content: '\e81a'; } /* '' */
.fa-minus-circle:before { content: '\e81b'; } /* '' */
.fa-help-circle:before { content: '\e81c'; } /* '' */
.fa-info-circle:before { content: '\e81d'; } /* '' */
.fa-home:before { content: '\e81e'; } /* '' */
.fa-link:before { content: '\e81f'; } /* '' */
.fa-paperclip:before { content: '\e820'; } /* '' */
.fa-lock:before { content: '\e821'; } /* '' */
.fa-lock-open:before { content: '\e822'; } /* '' */
.fa-pin:before { content: '\e823'; } /* '' */
.fa-eye:before { content: '\e824'; } /* '' */
.fa-eye-off:before { content: '\e825'; } /* '' */
.fa-tag:before { content: '\e826'; } /* '' */
.fa-tags:before { content: '\e827'; } /* '' */
.fa-bookmark:before { content: '\e828'; } /* '' */
.fa-flag:before { content: '\e829'; } /* '' */
.fa-thumbs-up:before { content: '\e82a'; } /* '' */
.fa-thumbs-down:before { content: '\e82b'; } /* '' */
.fa-download:before { content: '\e82c'; } /* '' */
.fa-upload:before { content: '\e82d'; } /* '' */
.fa-forward:before { content: '\e82e'; } /* '' */
.fa-export:before { content: '\e82f'; } /* '' */
.fa-pencil:before { content: '\e830'; } /* '' */
.fa-edit:before { content: '\e831'; } /* '' */
.fa-print:before { content: '\e832'; } /* '' */
.fa-retweet:before { content: '\e833'; } /* '' */
.fa-comment:before { content: '\e834'; } /* '' */
.fa-comments:before { content: '\e835'; } /* '' */
.fa-bell:before { content: '\e836'; } /* '' */
.fa-attention:before { content: '\e837'; } /* '' */
.fa-attention-circle:before { content: '\e838'; } /* '' */
.fa-map-marker:before { content: '\e839'; } /* '' */
.fa-trash-o:before { content: '\e83a'; } /* '' */
.fa-doc:before { content: '\e83b'; } /* '' */
.fa-folder:before { content: '\e83c'; } /* '' */
.fa-folder-open:before { content: '\e83d'; } /* '' */
.fa-phone:before { content: '\e83e'; } /* '' */
.fa-cog:before { content: '\e83f'; } /* '' */
.fa-cog-o:before { content: '\e840'; } /* '' */
.fa-wrench:before { content: '\e841'; } /* '' */
.fa-basket:before { content: '\e842'; } /* '' */
.fa-calendar:before { content: '\e843'; } /* '' */
.fa-login:before { content: '\e844'; } /* '' */
.fa-logout:before { content: '\e845'; } /* '' */
.fa-volume-off:before { content: '\e846'; } /* '' */
.fa-volume-down:before { content: '\e847'; } /* '' */
.fa-volume-up:before { content: '\e848'; } /* '' */
.fa-headphones:before { content: '\e849'; } /* '' */
.fa-clock:before { content: '\e84a'; } /* '' */
.fa-block:before { content: '\e84b'; } /* '' */
.fa-expand:before { content: '\e84c'; } /* '' */
.fa-compress:before { content: '\e84d'; } /* '' */
.fa-arrows-v:before { content: '\e84e'; } /* '' */
.fa-zoom-in:before { content: '\e84f'; } /* '' */
.fa-zoom-out:before { content: '\e850'; } /* '' */
.fa-arrows-h:before { content: '\e851'; } /* '' */
.fa-down-circle-o:before { content: '\e852'; } /* '' */
.fa-up-circle-o:before { content: '\e853'; } /* '' */
.fa-down-dir:before { content: '\e854'; } /* '' */
.fa-up-dir:before { content: '\e855'; } /* '' */
.fa-left-dir:before { content: '\e856'; } /* '' */
.fa-right-dir:before { content: '\e857'; } /* '' */
.fa-down-open:before { content: '\e858'; } /* '' */
.fa-left-open:before { content: '\e859'; } /* '' */
.fa-right-open:before { content: '\e85a'; } /* '' */
.fa-up-open:before { content: '\e85b'; } /* '' */
.fa-down-big:before { content: '\e85c'; } /* '' */
.fa-left-big:before { content: '\e85d'; } /* '' */
.fa-right-big:before { content: '\e85e'; } /* '' */
.fa-up-big:before { content: '\e85f'; } /* '' */
.fa-right-hand:before { content: '\e860'; } /* '' */
.fa-left-hand:before { content: '\e861'; } /* '' */
.fa-up-hand:before { content: '\e862'; } /* '' */
.fa-down-hand:before { content: '\e863'; } /* '' */
.fa-cw:before { content: '\e864'; } /* '' */
.fa-ccw:before { content: '\e865'; } /* '' */
.fa-arrows-cw:before { content: '\e866'; } /* '' */
.fa-shuffle:before { content: '\e867'; } /* '' */
.fa-play:before { content: '\e868'; } /* '' */
.fa-play-circle-o:before { content: '\e869'; } /* '' */
.fa-stop:before { content: '\e86a'; } /* '' */
.fa-pause:before { content: '\e86b'; } /* '' */
.fa-to-end:before { content: '\e86c'; } /* '' */
.fa-to-end-o:before { content: '\e86d'; } /* '' */
.fa-to-start:before { content: '\e86e'; } /* '' */
.fa-to-start-o:before { content: '\e86f'; } /* '' */
.fa-fast-fw:before { content: '\e870'; } /* '' */
.fa-fast-bw:before { content: '\e871'; } /* '' */
.fa-eject:before { content: '\e872'; } /* '' */
.fa-target:before { content: '\e873'; } /* '' */
.fa-signal:before { content: '\e874'; } /* '' */
.fa-award:before { content: '\e875'; } /* '' */
.fa-inbox:before { content: '\e876'; } /* '' */
.fa-globe:before { content: '\e877'; } /* '' */
.fa-cloud:before { content: '\e878'; } /* '' */
.fa-flash:before { content: '\e879'; } /* '' */
.fa-umbrella:before { content: '\e87a'; } /* '' */
.fa-flight:before { content: '\e87b'; } /* '' */
.fa-leaf:before { content: '\e87c'; } /* '' */
.fa-font:before { content: '\e87d'; } /* '' */
.fa-bold:before { content: '\e87e'; } /* '' */
.fa-italic:before { content: '\e87f'; } /* '' */
.fa-text-height:before { content: '\e880'; } /* '' */
.fa-text-width:before { content: '\e881'; } /* '' */
.fa-align-left:before { content: '\e882'; } /* '' */
.fa-align-center:before { content: '\e883'; } /* '' */
.fa-align-right:before { content: '\e884'; } /* '' */
.fa-align-justify:before { content: '\e885'; } /* '' */
.fa-list:before { content: '\e886'; } /* '' */
.fa-indent-left:before { content: '\e887'; } /* '' */
.fa-indent-right:before { content: '\e888'; } /* '' */
.fa-scissors:before { content: '\e889'; } /* '' */
.fa-briefcase:before { content: '\e88a'; } /* '' */
.fa-off:before { content: '\e88b'; } /* '' */
.fa-road:before { content: '\e88c'; } /* '' */
.fa-list-o:before { content: '\e88d'; } /* '' */
.fa-qrcode:before { content: '\e88e'; } /* '' */
.fa-barcode:before { content: '\e88f'; } /* '' */
.fa-book:before { content: '\e890'; } /* '' */
.fa-adjust:before { content: '\e891'; } /* '' */
.fa-tint:before { content: '\e892'; } /* '' */
.fa-check-square-o:before { content: '\e893'; } /* '' */
.fa-asterisk:before { content: '\e894'; } /* '' */
.fa-gift:before { content: '\e895'; } /* '' */
.fa-fire:before { content: '\e896'; } /* '' */
.fa-magnet:before { content: '\e897'; } /* '' */
.fa-chart-bar:before { content: '\e898'; } /* '' */
.fa-credit-card:before { content: '\e899'; } /* '' */
.fa-floppy:before { content: '\e89a'; } /* '' */
.fa-megaphone:before { content: '\e89b'; } /* '' */
.fa-key:before { content: '\e89c'; } /* '' */
.fa-truck:before { content: '\e89d'; } /* '' */
.fa-hammer:before { content: '\e89e'; } /* '' */
.fa-lemon:before { content: '\e89f'; } /* '' */
.fa-webcam-x:before { content: '\e8a0'; } /* '' */
.fa-angle-left-x:before { content: '\e8a1'; } /* '' */
.fa-angle-right-x:before { content: '\e8a2'; } /* '' */
.fa-times-circle:before { content: '\e8a3'; } /* '' */
.fa-video-e:before { content: '\e8a4'; } /* '' */
.fa-pencil-e:before { content: '\e8a5'; } /* '' */
.fa-pencil-m:before { content: '\e8a6'; } /* '' */
.fa-search-x:before { content: '\e8a7'; } /* '' */
.fa-info-m:before { content: '\e8a8'; } /* '' */
.fa-comment-w:before { content: '\e8a9'; } /* '' */
.fa-contacts:before { content: '\e8aa'; } /* '' */
.fa-favorites-disabled:before { content: '\e8ac'; } /* '' */
.fa-favorites-enabled:before { content: '\e8ad'; } /* '' */
.fa-fullscreen-ico:before { content: '\e8af'; } /* '' */
.fa-left-1:before { content: '\e8b0'; } /* '' */
.fa-credits:before { content: '\e900'; } /* '' */
.fa-bored:before { content: '\e901'; } /* '' */
.fa-flirty:before { content: '\e902'; } /* '' */
.fa-friendly:before { content: '\e903'; } /* '' */
.fa-ladies:before { content: '\e904'; } /* '' */
.fa-naughty:before { content: '\e905'; } /* '' */
.fa-romantic:before { content: '\e906'; } /* '' */
.fa-right-1:before { content: '\e908'; } /* '' */
.fa-webcam:before { content: '\e90a'; } /* '' */
.fa-closed-folder:before { content: '\e90b'; } /* '' */
.fa-cancel:before { content: '\eabb'; } /* '' */
.fa-move:before { content: '\f047'; } /* '' */
.fa-external-link:before { content: '\f08e'; } /* '' */
.fa-check-o:before { content: '\f096'; } /* '' */
.fa-bookmark-o:before { content: '\f097'; } /* '' */
.fa-phone-square:before { content: '\f098'; } /* '' */
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-facebook:before { content: '\f09a'; } /* '' */
.fa-github-circle:before { content: '\f09b'; } /* '' */
.fa-rss:before { content: '\f09e'; } /* '' */
.fa-hdd:before { content: '\f0a0'; } /* '' */
.fa-certificate:before { content: '\f0a3'; } /* '' */
.fa-left-circle:before { content: '\f0a8'; } /* '' */
.fa-right-circle:before { content: '\f0a9'; } /* '' */
.fa-up-circle:before { content: '\f0aa'; } /* '' */
.fa-down-circle:before { content: '\f0ab'; } /* '' */
.fa-tasks:before { content: '\f0ae'; } /* '' */
.fa-filter:before { content: '\f0b0'; } /* '' */
.fa-arrows-alt:before { content: '\f0b2'; } /* '' */
.fa-beaker:before { content: '\f0c3'; } /* '' */
.fa-docs:before { content: '\f0c5'; } /* '' */
.fa-blank:before { content: '\f0c8'; } /* '' */
.fa-bars:before { content: '\f0c9'; } /* '' */
.fa-list-bullet:before { content: '\f0ca'; } /* '' */
.fa-list-numbered:before { content: '\f0cb'; } /* '' */
.fa-strike:before { content: '\f0cc'; } /* '' */
.fa-underline:before { content: '\f0cd'; } /* '' */
.fa-table:before { content: '\f0ce'; } /* '' */
.fa-magic:before { content: '\f0d0'; } /* '' */
.fa-pinterest-circle:before { content: '\f0d2'; } /* '' */
.fa-pinterest-square:before { content: '\f0d3'; } /* '' */
.fa-gplus-square:before { content: '\f0d4'; } /* '' */
.fa-google-plus:before { content: '\f0d5'; } /* '' */
.fa-money:before { content: '\f0d6'; } /* '' */
.fa-columns:before { content: '\f0db'; } /* '' */
.fa-sort:before { content: '\f0dc'; } /* '' */
.fa-sort-desc:before { content: '\f0dd'; } /* '' */
.fa-sort-asc:before { content: '\f0de'; } /* '' */
.fa-envelope:before { content: '\f0e0'; } /* '' */
.fa-linkedin:before { content: '\f0e1'; } /* '' */
.fa-gauge:before { content: '\f0e4'; } /* '' */
.fa-comment-o:before { content: '\f0e5'; } /* '' */
.fa-comments-o:before { content: '\f0e6'; } /* '' */
.fa-sitemap:before { content: '\f0e8'; } /* '' */
.fa-paste:before { content: '\f0ea'; } /* '' */
.fa-lightbulb:before { content: '\f0eb'; } /* '' */
.fa-exchange:before { content: '\f0ec'; } /* '' */
.fa-download-cloud:before { content: '\f0ed'; } /* '' */
.fa-upload-cloud:before { content: '\f0ee'; } /* '' */
.fa-user-md:before { content: '\f0f0'; } /* '' */
.fa-stethoscope:before { content: '\f0f1'; } /* '' */
.fa-suitcase:before { content: '\f0f2'; } /* '' */
.fa-bell-o:before { content: '\f0f3'; } /* '' */
.fa-coffee:before { content: '\f0f4'; } /* '' */
.fa-food:before { content: '\f0f5'; } /* '' */
.fa-doc-text:before { content: '\f0f6'; } /* '' */
.fa-building:before { content: '\f0f7'; } /* '' */
.fa-hospital:before { content: '\f0f8'; } /* '' */
.fa-ambulance:before { content: '\f0f9'; } /* '' */
.fa-medkit:before { content: '\f0fa'; } /* '' */
.fa-fighter-jet:before { content: '\f0fb'; } /* '' */
.fa-beer:before { content: '\f0fc'; } /* '' */
.fa-h-sigh:before { content: '\f0fd'; } /* '' */
.fa-plus-square:before { content: '\f0fe'; } /* '' */
.fa-angle-double-left:before { content: '\f100'; } /* '' */
.fa-angle-double-right:before { content: '\f101'; } /* '' */
.fa-angle-double-up:before { content: '\f102'; } /* '' */
.fa-angle-double-down:before { content: '\f103'; } /* '' */
.fa-angle-left:before { content: '\f104'; } /* '' */
.fa-angle-right:before { content: '\f105'; } /* '' */
.fa-angle-up:before { content: '\f106'; } /* '' */
.fa-angle-down:before { content: '\f107'; } /* '' */
.fa-desktop:before { content: '\f108'; } /* '' */
.fa-laptop:before { content: '\f109'; } /* '' */
.fa-tablet:before { content: '\f10a'; } /* '' */
.fa-mobile:before { content: '\f10b'; } /* '' */
.fa-circle-o:before { content: '\f10c'; } /* '' */
.fa-quote-left:before { content: '\f10d'; } /* '' */
.fa-quote-right:before { content: '\f10e'; } /* '' */
.fa-spinner:before { content: '\f110'; } /* '' */
.fa-circle:before { content: '\f111'; } /* '' */
.fa-reply:before { content: '\f112'; } /* '' */
.fa-github:before { content: '\f113'; } /* '' */
.fa-folder-o:before { content: '\f114'; } /* '' */
.fa-folder-open-o:before { content: '\f115'; } /* '' */
.fa-smile-o:before { content: '\f118'; } /* '' */
.fa-frown-o:before { content: '\f119'; } /* '' */
.fa-meh-o:before { content: '\f11a'; } /* '' */
.fa-gamepad:before { content: '\f11b'; } /* '' */
.fa-keyboard:before { content: '\f11c'; } /* '' */
.fa-flag-o:before { content: '\f11d'; } /* '' */
.fa-flag-checkered:before { content: '\f11e'; } /* '' */
.fa-terminal:before { content: '\f120'; } /* '' */
.fa-code:before { content: '\f121'; } /* '' */
.fa-reply-all:before { content: '\f122'; } /* '' */
.fa-star-half-o:before { content: '\f123'; } /* '' */
.fa-direction:before { content: '\f124'; } /* '' */
.fa-crop:before { content: '\f125'; } /* '' */
.fa-fork:before { content: '\f126'; } /* '' */
.fa-unlink:before { content: '\f127'; } /* '' */
.fa-question:before { content: '\f128'; } /* '' */
.fa-info:before { content: '\f129'; } /* '' */
.fa-attention-o:before { content: '\f12a'; } /* '' */
.fa-superscript:before { content: '\f12b'; } /* '' */
.fa-subscript:before { content: '\f12c'; } /* '' */
.fa-eraser:before { content: '\f12d'; } /* '' */
.fa-puzzle:before { content: '\f12e'; } /* '' */
.fa-mic:before { content: '\f130'; } /* '' */
.fa-mute:before { content: '\f131'; } /* '' */
.fa-shield:before { content: '\f132'; } /* '' */
.fa-calendar-o:before { content: '\f133'; } /* '' */
.fa-extinguisher:before { content: '\f134'; } /* '' */
.fa-rocket:before { content: '\f135'; } /* '' */
.fa-maxcdn:before { content: '\f136'; } /* '' */
.fa-angle-circle-left:before { content: '\f137'; } /* '' */
.fa-angle-circle-right:before { content: '\f138'; } /* '' */
.fa-angle-circle-up:before { content: '\f139'; } /* '' */
.fa-angle-circle-down:before { content: '\f13a'; } /* '' */
.fa-html5:before { content: '\f13b'; } /* '' */
.fa-css3:before { content: '\f13c'; } /* '' */
.fa-anchor:before { content: '\f13d'; } /* '' */
.fa-lock-open-o:before { content: '\f13e'; } /* '' */
.fa-bullseye:before { content: '\f140'; } /* '' */
.fa-ellipsis:before { content: '\f141'; } /* '' */
.fa-ellipsis-vert:before { content: '\f142'; } /* '' */
.fa-rss-square:before { content: '\f143'; } /* '' */
.fa-play-circle:before { content: '\f144'; } /* '' */
.fa-ticket:before { content: '\f145'; } /* '' */
.fa-minus-square:before { content: '\f146'; } /* '' */
.fa-minus-square-o:before { content: '\f147'; } /* '' */
.fa-level-up:before { content: '\f148'; } /* '' */
.fa-level-down:before { content: '\f149'; } /* '' */
.fa-ok-square:before { content: '\f14a'; } /* '' */
.fa-pencil-square:before { content: '\f14b'; } /* '' */
.fa-external-link-square:before { content: '\f14c'; } /* '' */
.fa-export-o:before { content: '\f14d'; } /* '' */
.fa-compass:before { content: '\f14e'; } /* '' */
.fa-expand-1:before { content: '\f150'; } /* '' */
.fa-collapse:before { content: '\f151'; } /* '' */
.fa-expand-right:before { content: '\f152'; } /* '' */
.fa-euro:before { content: '\f153'; } /* '' */
.fa-pound:before { content: '\f154'; } /* '' */
.fa-dollar:before { content: '\f155'; } /* '' */
.fa-rupee:before { content: '\f156'; } /* '' */
.fa-yen:before { content: '\f157'; } /* '' */
.fa-rouble:before { content: '\f158'; } /* '' */
.fa-won:before { content: '\f159'; } /* '' */
.fa-bitcoin:before { content: '\f15a'; } /* '' */
.fa-file:before { content: '\f15b'; } /* '' */
.fa-file-text:before { content: '\f15c'; } /* '' */
.fa-sort-name-up:before { content: '\f15d'; } /* '' */
.fa-sort-name-down:before { content: '\f15e'; } /* '' */
.fa-sort-o-up:before { content: '\f160'; } /* '' */
.fa-sort-o-down:before { content: '\f161'; } /* '' */
.fa-sort-number-up:before { content: '\f162'; } /* '' */
.fa-sort-number-down:before { content: '\f163'; } /* '' */
.fa-thumbs-up-o:before { content: '\f164'; } /* '' */
.fa-thumbs-down-o:before { content: '\f165'; } /* '' */
.fa-youtube-square:before { content: '\f166'; } /* '' */
.fa-youtube:before { content: '\f167'; } /* '' */
.fa-xing:before { content: '\f168'; } /* '' */
.fa-xing-square:before { content: '\f169'; } /* '' */
.fa-youtube-play:before { content: '\f16a'; } /* '' */
.fa-dropbox:before { content: '\f16b'; } /* '' */
.fa-stackoverflow:before { content: '\f16c'; } /* '' */
.fa-instagram:before { content: '\f16d'; } /* '' */
.fa-flickr:before { content: '\f16e'; } /* '' */
.fa-adn:before { content: '\f170'; } /* '' */
.fa-bitbucket:before { content: '\f171'; } /* '' */
.fa-bitbucket-square:before { content: '\f172'; } /* '' */
.fa-tumblr:before { content: '\f173'; } /* '' */
.fa-tumblr-square:before { content: '\f174'; } /* '' */
.fa-down:before { content: '\f175'; } /* '' */
.fa-up:before { content: '\f176'; } /* '' */
.fa-left:before { content: '\f177'; } /* '' */
.fa-right:before { content: '\f178'; } /* '' */
.fa-apple:before { content: '\f179'; } /* '' */
.fa-windows:before { content: '\f17a'; } /* '' */
.fa-android:before { content: '\f17b'; } /* '' */
.fa-linux:before { content: '\f17c'; } /* '' */
.fa-dribbble:before { content: '\f17d'; } /* '' */
.fa-skype:before { content: '\f17e'; } /* '' */
.fa-foursquare:before { content: '\f180'; } /* '' */
.fa-trello:before { content: '\f181'; } /* '' */
.fa-female:before { content: '\f182'; } /* '' */
.fa-male:before { content: '\f183'; } /* '' */
.fa-gittip:before { content: '\f184'; } /* '' */
.fa-sun:before { content: '\f185'; } /* '' */
.fa-moon:before { content: '\f186'; } /* '' */
.fa-box:before { content: '\f187'; } /* '' */
.fa-bug:before { content: '\f188'; } /* '' */
.fa-vkontakte:before { content: '\f189'; } /* '' */
.fa-weibo:before { content: '\f18a'; } /* '' */
.fa-renren:before { content: '\f18b'; } /* '' */
.fa-pagelines:before { content: '\f18c'; } /* '' */
.fa-stackexchange:before { content: '\f18d'; } /* '' */
.fa-right-circle-o:before { content: '\f18e'; } /* '' */
.fa-left-circle-o:before { content: '\f190'; } /* '' */
.fa-collapse-left:before { content: '\f191'; } /* '' */
.fa-dot-circle:before { content: '\f192'; } /* '' */
.fa-wheelchair:before { content: '\f193'; } /* '' */
.fa-vimeo-square:before { content: '\f194'; } /* '' */
.fa-try:before { content: '\f195'; } /* '' */
.fa-plus-square-o:before { content: '\f196'; } /* '' */
.fa-space-shuttle:before { content: '\f197'; } /* '' */
.fa-slack:before { content: '\f198'; } /* '' */
.fa-envelope-square:before { content: '\f199'; } /* '' */
.fa-wordpress:before { content: '\f19a'; } /* '' */
.fa-openid:before { content: '\f19b'; } /* '' */
.fa-bank:before { content: '\f19c'; } /* '' */
.fa-graduation-cap:before { content: '\f19d'; } /* '' */
.fa-yahoo:before { content: '\f19e'; } /* '' */
.fa-google:before { content: '\f1a0'; } /* '' */
.fa-reddit:before { content: '\f1a1'; } /* '' */
.fa-reddit-square:before { content: '\f1a2'; } /* '' */
.fa-stumbleupon-circle:before { content: '\f1a3'; } /* '' */
.fa-stumbleupon:before { content: '\f1a4'; } /* '' */
.fa-delicious:before { content: '\f1a5'; } /* '' */
.fa-digg:before { content: '\f1a6'; } /* '' */
.fa-pied-piper-square:before { content: '\f1a7'; } /* '' */
.fa-pied-piper-o:before { content: '\f1a8'; } /* '' */
.fa-drupal:before { content: '\f1a9'; } /* '' */
.fa-joomla:before { content: '\f1aa'; } /* '' */
.fa-language:before { content: '\f1ab'; } /* '' */
.fa-fax:before { content: '\f1ac'; } /* '' */
.fa-building-filled:before { content: '\f1ad'; } /* '' */
.fa-child:before { content: '\f1ae'; } /* '' */
.fa-paw:before { content: '\f1b0'; } /* '' */
.fa-spoon:before { content: '\f1b1'; } /* '' */
.fa-cube:before { content: '\f1b2'; } /* '' */
.fa-cubes:before { content: '\f1b3'; } /* '' */
.fa-behance:before { content: '\f1b4'; } /* '' */
.fa-behance-square:before { content: '\f1b5'; } /* '' */
.fa-steam:before { content: '\f1b6'; } /* '' */
.fa-steam-square:before { content: '\f1b7'; } /* '' */
.fa-recycle:before { content: '\f1b8'; } /* '' */
.fa-cab:before { content: '\f1b9'; } /* '' */
.fa-taxi:before { content: '\f1ba'; } /* '' */
.fa-tree:before { content: '\f1bb'; } /* '' */
.fa-spotify:before { content: '\f1bc'; } /* '' */
.fa-deviantart:before { content: '\f1bd'; } /* '' */
.fa-soundcloud:before { content: '\f1be'; } /* '' */
.fa-database:before { content: '\f1c0'; } /* '' */
.fa-file-pdf:before { content: '\f1c1'; } /* '' */
.fa-file-word:before { content: '\f1c2'; } /* '' */
.fa-file-excel:before { content: '\f1c3'; } /* '' */
.fa-file-powerpoint:before { content: '\f1c4'; } /* '' */
.fa-file-image:before { content: '\f1c5'; } /* '' */
.fa-file-archive:before { content: '\f1c6'; } /* '' */
.fa-file-audio:before { content: '\f1c7'; } /* '' */
.fa-file-video:before { content: '\f1c8'; } /* '' */
.fa-file-code:before { content: '\f1c9'; } /* '' */
.fa-vine:before { content: '\f1ca'; } /* '' */
.fa-codeopen:before { content: '\f1cb'; } /* '' */
.fa-jsfiddle:before { content: '\f1cc'; } /* '' */
.fa-life-ring:before { content: '\f1cd'; } /* '' */
.fa-circle-notch:before { content: '\f1ce'; } /* '' */
.fa-rebel:before { content: '\f1d0'; } /* '' */
.fa-empire:before { content: '\f1d1'; } /* '' */
.fa-git-square:before { content: '\f1d2'; } /* '' */
.fa-git:before { content: '\f1d3'; } /* '' */
.fa-hacker-news:before { content: '\f1d4'; } /* '' */
.fa-tencent-weibo:before { content: '\f1d5'; } /* '' */
.fa-qq:before { content: '\f1d6'; } /* '' */
.fa-wechat:before { content: '\f1d7'; } /* '' */
.fa-paper-plane:before { content: '\f1d8'; } /* '' */
.fa-paper-plane-o:before { content: '\f1d9'; } /* '' */
.fa-history:before { content: '\f1da'; } /* '' */
.fa-circle-thin:before { content: '\f1db'; } /* '' */
.fa-header:before { content: '\f1dc'; } /* '' */
.fa-paragraph:before { content: '\f1dd'; } /* '' */
.fa-sliders:before { content: '\f1de'; } /* '' */
.fa-share:before { content: '\f1e0'; } /* '' */
.fa-share-square:before { content: '\f1e1'; } /* '' */
.fa-bomb:before { content: '\f1e2'; } /* '' */
.fa-soccer-ball:before { content: '\f1e3'; } /* '' */
.fa-tty:before { content: '\f1e4'; } /* '' */
.fa-binoculars:before { content: '\f1e5'; } /* '' */
.fa-plug:before { content: '\f1e6'; } /* '' */
.fa-slideshare:before { content: '\f1e7'; } /* '' */
.fa-twitch:before { content: '\f1e8'; } /* '' */
.fa-yelp:before { content: '\f1e9'; } /* '' */
.fa-newspaper:before { content: '\f1ea'; } /* '' */
.fa-wifi:before { content: '\f1eb'; } /* '' */
.fa-calc:before { content: '\f1ec'; } /* '' */
.fa-paypal:before { content: '\f1ed'; } /* '' */
.fa-gwallet:before { content: '\f1ee'; } /* '' */
.fa-cc-visa:before { content: '\f1f0'; } /* '' */
.fa-cc-mastercard:before { content: '\f1f1'; } /* '' */
.fa-cc-discover:before { content: '\f1f2'; } /* '' */
.fa-cc-amex:before { content: '\f1f3'; } /* '' */
.fa-cc-paypal:before { content: '\f1f4'; } /* '' */
.fa-cc-stripe:before { content: '\f1f5'; } /* '' */
.fa-bell-off:before { content: '\f1f6'; } /* '' */
.fa-bell-off-o:before { content: '\f1f7'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */
.fa-copyright:before { content: '\f1f9'; } /* '' */
.fa-at:before { content: '\f1fa'; } /* '' */
.fa-eyedropper:before { content: '\f1fb'; } /* '' */
.fa-brush:before { content: '\f1fc'; } /* '' */
.fa-birthday:before { content: '\f1fd'; } /* '' */
.fa-chart-area:before { content: '\f1fe'; } /* '' */
.fa-chart-pie:before { content: '\f200'; } /* '' */
.fa-chart-line:before { content: '\f201'; } /* '' */
.fa-lastfm:before { content: '\f202'; } /* '' */
.fa-lastfm-square:before { content: '\f203'; } /* '' */
.fa-toggle-off:before { content: '\f204'; } /* '' */
.fa-toggle-on:before { content: '\f205'; } /* '' */
.fa-bicycle:before { content: '\f206'; } /* '' */
.fa-bus:before { content: '\f207'; } /* '' */
.fa-ioxhost:before { content: '\f208'; } /* '' */
.fa-angellist:before { content: '\f209'; } /* '' */
.fa-cc:before { content: '\f20a'; } /* '' */
.fa-shekel:before { content: '\f20b'; } /* '' */
.fa-meanpath:before { content: '\f20c'; } /* '' */
.fa-buysellads:before { content: '\f20d'; } /* '' */
.fa-connectdevelop:before { content: '\f20e'; } /* '' */
.fa-dashcube:before { content: '\f210'; } /* '' */
.fa-forumbee:before { content: '\f211'; } /* '' */
.fa-leanpub:before { content: '\f212'; } /* '' */
.fa-sellsy:before { content: '\f213'; } /* '' */
.fa-shirtsinbulk:before { content: '\f214'; } /* '' */
.fa-simplybuilt:before { content: '\f215'; } /* '' */
.fa-skyatlas:before { content: '\f216'; } /* '' */
.fa-cart-plus:before { content: '\f217'; } /* '' */
.fa-cart-arrow-down:before { content: '\f218'; } /* '' */
.fa-diamond:before { content: '\f219'; } /* '' */
.fa-ship:before { content: '\f21a'; } /* '' */
.fa-user-secret:before { content: '\f21b'; } /* '' */
.fa-motorcycle:before { content: '\f21c'; } /* '' */
.fa-street-view:before { content: '\f21d'; } /* '' */
.fa-heartbeat:before { content: '\f21e'; } /* '' */
.fa-venus:before { content: '\f221'; } /* '' */
.fa-mars:before { content: '\f222'; } /* '' */
.fa-mercury:before { content: '\f223'; } /* '' */
.fa-transgender:before { content: '\f224'; } /* '' */
.fa-transgender-o:before { content: '\f225'; } /* '' */
.fa-venus-double:before { content: '\f226'; } /* '' */
.fa-mars-double:before { content: '\f227'; } /* '' */
.fa-venus-mars:before { content: '\f228'; } /* '' */
.fa-mars-stroke:before { content: '\f229'; } /* '' */
.fa-mars-stroke-v:before { content: '\f22a'; } /* '' */
.fa-mars-stroke-h:before { content: '\f22b'; } /* '' */
.fa-neuter:before { content: '\f22c'; } /* '' */
.fa-genderless:before { content: '\f22d'; } /* '' */
.fa-facebook-official:before { content: '\f230'; } /* '' */
.fa-pinterest:before { content: '\f231'; } /* '' */
.fa-whatsapp:before { content: '\f232'; } /* '' */
.fa-server:before { content: '\f233'; } /* '' */
.fa-user-plus:before { content: '\f234'; } /* '' */
.fa-user-times:before { content: '\f235'; } /* '' */
.fa-bed:before { content: '\f236'; } /* '' */
.fa-viacoin:before { content: '\f237'; } /* '' */
.fa-train:before { content: '\f238'; } /* '' */
.fa-medium:before { content: '\f23a'; } /* '' */
.fa-y-combinator:before { content: '\f23b'; } /* '' */
.fa-optin-monster:before { content: '\f23c'; } /* '' */
.fa-opencart:before { content: '\f23d'; } /* '' */
.fa-expeditedssl:before { content: '\f23e'; } /* '' */
.fa-battery-4:before { content: '\f240'; } /* '' */
.fa-battery-3:before { content: '\f241'; } /* '' */
.fa-battery-2:before { content: '\f242'; } /* '' */
.fa-battery-1:before { content: '\f243'; } /* '' */
.fa-battery-0:before { content: '\f244'; } /* '' */
.fa-mouse-pointer:before { content: '\f245'; } /* '' */
.fa-i-cursor:before { content: '\f246'; } /* '' */
.fa-object-group:before { content: '\f247'; } /* '' */
.fa-object-ungroup:before { content: '\f248'; } /* '' */
.fa-sticky-note:before { content: '\f249'; } /* '' */
.fa-sticky-note-o:before { content: '\f24a'; } /* '' */
.fa-cc-jcb:before { content: '\f24b'; } /* '' */
.fa-cc-diners-club:before { content: '\f24c'; } /* '' */
.fa-clone:before { content: '\f24d'; } /* '' */
.fa-balance-scale:before { content: '\f24e'; } /* '' */
.fa-hourglass-o:before { content: '\f250'; } /* '' */
.fa-hourglass-1:before { content: '\f251'; } /* '' */
.fa-hourglass-2:before { content: '\f252'; } /* '' */
.fa-hourglass-3:before { content: '\f253'; } /* '' */
.fa-hourglass:before { content: '\f254'; } /* '' */
.fa-hand-grab-o:before { content: '\f255'; } /* '' */
.fa-hand-paper-o:before { content: '\f256'; } /* '' */
.fa-hand-scissors-o:before { content: '\f257'; } /* '' */
.fa-hand-lizard-o:before { content: '\f258'; } /* '' */
.fa-hand-spock-o:before { content: '\f259'; } /* '' */
.fa-hand-pointer-o:before { content: '\f25a'; } /* '' */
.fa-hand-peace-o:before { content: '\f25b'; } /* '' */
.fa-trademark:before { content: '\f25c'; } /* '' */
.fa-registered:before { content: '\f25d'; } /* '' */
.fa-creative-commons:before { content: '\f25e'; } /* '' */
.fa-gg:before { content: '\f260'; } /* '' */
.fa-gg-circle:before { content: '\f261'; } /* '' */
.fa-tripadvisor:before { content: '\f262'; } /* '' */
.fa-odnoklassniki:before { content: '\f263'; } /* '' */
.fa-odnoklassniki-square:before { content: '\f264'; } /* '' */
.fa-get-pocket:before { content: '\f265'; } /* '' */
.fa-wikipedia-w:before { content: '\f266'; } /* '' */
.fa-safari:before { content: '\f267'; } /* '' */
.fa-chrome:before { content: '\f268'; } /* '' */
.fa-firefox:before { content: '\f269'; } /* '' */
.fa-opera:before { content: '\f26a'; } /* '' */
.fa-internet-explorer:before { content: '\f26b'; } /* '' */
.fa-television:before { content: '\f26c'; } /* '' */
.fa-contao:before { content: '\f26d'; } /* '' */
.fa-500px:before { content: '\f26e'; } /* '' */
.fa-amazon:before { content: '\f270'; } /* '' */
.fa-calendar-plus-o:before { content: '\f271'; } /* '' */
.fa-calendar-minus-o:before { content: '\f272'; } /* '' */
.fa-calendar-times-o:before { content: '\f273'; } /* '' */
.fa-calendar-check-o:before { content: '\f274'; } /* '' */
.fa-industry:before { content: '\f275'; } /* '' */
.fa-map-pin:before { content: '\f276'; } /* '' */
.fa-map-signs:before { content: '\f277'; } /* '' */
.fa-map-o:before { content: '\f278'; } /* '' */
.fa-map:before { content: '\f279'; } /* '' */
.fa-commenting:before { content: '\f27a'; } /* '' */
.fa-commenting-o:before { content: '\f27b'; } /* '' */
.fa-houzz:before { content: '\f27c'; } /* '' */
.fa-vimeo:before { content: '\f27d'; } /* '' */
.fa-black-tie:before { content: '\f27e'; } /* '' */
.fa-fonticons:before { content: '\f280'; } /* '' */
.fa-reddit-alien:before { content: '\f281'; } /* '' */
.fa-edge:before { content: '\f282'; } /* '' */
.fa-credit-card-o:before { content: '\f283'; } /* '' */
.fa-codiepie:before { content: '\f284'; } /* '' */
.fa-modx:before { content: '\f285'; } /* '' */
.fa-fort-awesome:before { content: '\f286'; } /* '' */
.fa-usb:before { content: '\f287'; } /* '' */
.fa-product-hunt:before { content: '\f288'; } /* '' */
.fa-mixcloud:before { content: '\f289'; } /* '' */
.fa-scribd:before { content: '\f28a'; } /* '' */
.fa-pause-circle:before { content: '\f28b'; } /* '' */
.fa-pause-circle-o:before { content: '\f28c'; } /* '' */
.fa-stop-circle:before { content: '\f28d'; } /* '' */
.fa-stop-circle-o:before { content: '\f28e'; } /* '' */
.fa-shopping-bag:before { content: '\f290'; } /* '' */
.fa-shopping-basket:before { content: '\f291'; } /* '' */
.fa-hashtag:before { content: '\f292'; } /* '' */
.fa-bluetooth:before { content: '\f293'; } /* '' */
.fa-bluetooth-b:before { content: '\f294'; } /* '' */
.fa-percent:before { content: '\f295'; } /* '' */
.fa-gitlab:before { content: '\f296'; } /* '' */
.fa-wpbeginner:before { content: '\f297'; } /* '' */
.fa-wpforms:before { content: '\f298'; } /* '' */
.fa-envira:before { content: '\f299'; } /* '' */
.fa-universal-access:before { content: '\f29a'; } /* '' */
.fa-wheelchair-o:before { content: '\f29b'; } /* '' */
.fa-question-circle-o:before { content: '\f29c'; } /* '' */
.fa-blind:before { content: '\f29d'; } /* '' */
.fa-audio-description:before { content: '\f29e'; } /* '' */
.fa-volume-control-phone:before { content: '\f2a0'; } /* '' */
.fa-braille:before { content: '\f2a1'; } /* '' */
.fa-assistive-listening-systems:before { content: '\f2a2'; } /* '' */
.fa-american-sign-language-interpreting:before { content: '\f2a3'; } /* '' */
.fa-asl-interpreting:before { content: '\f2a4'; } /* '' */
.fa-glide:before { content: '\f2a5'; } /* '' */
.fa-glide-g:before { content: '\f2a6'; } /* '' */
.fa-sign-language:before { content: '\f2a7'; } /* '' */
.fa-low-vision:before { content: '\f2a8'; } /* '' */
.fa-viadeo:before { content: '\f2a9'; } /* '' */
.fa-viadeo-square:before { content: '\f2aa'; } /* '' */
.fa-snapchat:before { content: '\f2ab'; } /* '' */
.fa-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.fa-snapchat-square:before { content: '\f2ad'; } /* '' */
.fa-pied-piper:before { content: '\f2ae'; } /* '' */
.fa-first-order:before { content: '\f2b0'; } /* '' */
.fa-yoast:before { content: '\f2b1'; } /* '' */
.fa-themeisle:before { content: '\f2b2'; } /* '' */
.fa-google-plus-circle:before { content: '\f2b3'; } /* '' */
.fa-font-awesome:before { content: '\f2b4'; } /* '' */
.fa-handshake-o:before { content: '\f2b5'; } /* '' */
.fa-envelope-open:before { content: '\f2b6'; } /* '' */
.fa-envelope-open-o:before { content: '\f2b7'; } /* '' */
.fa-linode:before { content: '\f2b8'; } /* '' */
.fa-address-book:before { content: '\f2b9'; } /* '' */
.fa-address-book-o:before { content: '\f2ba'; } /* '' */
.fa-address-card:before { content: '\f2bb'; } /* '' */
.fa-address-card-o:before { content: '\f2bc'; } /* '' */
.fa-user-circle:before { content: '\f2bd'; } /* '' */
.fa-user-circle-o:before { content: '\f2be'; } /* '' */
.fa-user-o:before { content: '\f2c0'; } /* '' */
.fa-id-badge:before { content: '\f2c1'; } /* '' */
.fa-id-card:before { content: '\f2c2'; } /* '' */
.fa-id-card-o:before { content: '\f2c3'; } /* '' */
.fa-quora:before { content: '\f2c4'; } /* '' */
.fa-free-code-camp:before { content: '\f2c5'; } /* '' */
.fa-telegram:before { content: '\f2c6'; } /* '' */
.fa-thermometer:before { content: '\f2c7'; } /* '' */
.fa-thermometer-3:before { content: '\f2c8'; } /* '' */
.fa-thermometer-2:before { content: '\f2c9'; } /* '' */
.fa-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.fa-thermometer-0:before { content: '\f2cb'; } /* '' */
.fa-shower:before { content: '\f2cc'; } /* '' */
.fa-bath:before { content: '\f2cd'; } /* '' */
.fa-podcast:before { content: '\f2ce'; } /* '' */
.fa-window-maximize:before { content: '\f2d0'; } /* '' */
.fa-window-minimize:before { content: '\f2d1'; } /* '' */
.fa-window-restore:before { content: '\f2d2'; } /* '' */
.fa-window-close:before { content: '\f2d3'; } /* '' */
.fa-window-close-o:before { content: '\f2d4'; } /* '' */
.fa-bandcamp:before { content: '\f2d5'; } /* '' */
.fa-grav:before { content: '\f2d6'; } /* '' */
.fa-etsy:before { content: '\f2d7'; } /* '' */
.fa-imdb:before { content: '\f2d8'; } /* '' */
.fa-ravelry:before { content: '\f2d9'; } /* '' */
.fa-eercast:before { content: '\f2da'; } /* '' */
.fa-microchip:before { content: '\f2db'; } /* '' */
.fa-snowflake-o:before { content: '\f2dc'; } /* '' */
.fa-superpowers:before { content: '\f2dd'; } /* '' */
.fa-wpexplorer:before { content: '\f2de'; } /* '' */
.fa-meetup:before { content: '\f2e0'; } /* '' */
.fa-github-square:before { content: '\f300'; } /* '' */
.fa-twitter-square:before { content: '\f304'; } /* '' */
.fa-facebook-square:before { content: '\f308'; } /* '' */
.fa-linkedin-square:before { content: '\f30c'; } /* '' */